sdi3-14.Cli-SOAP-Csharp/sdi3-14.Cli-SOAP-Csharp/Connected Services/AdminService/EjbAdminServiceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://admin.impl.business.sdi.uo/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EjbAdminServiceService" targetNamespace="http://admin.impl.business.sdi.uo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://admin.impl.business.sdi.uo/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="deepDeleteUser" type="tns:deepDeleteUser" />
      <xs:element name="deepDeleteUserResponse" type="tns:deepDeleteUserResponse" />
      <xs:element name="disableUser" type="tns:disableUser" />
      <xs:element name="disableUserResponse" type="tns:disableUserResponse" />
      <xs:element name="enableUser" type="tns:enableUser" />
      <xs:element name="enableUserResponse" type="tns:enableUserResponse" />
      <xs:element name="findAllUsers" type="tns:findAllUsers" />
      <xs:element name="findAllUsersEjbClient" type="tns:findAllUsersEjbClient" />
      <xs:element name="findAllUsersEjbClientResponse" type="tns:findAllUsersEjbClientResponse" />
      <xs:element name="findAllUsersResponse" type="tns:findAllUsersResponse" />
      <xs:element name="findUserById" type="tns:findUserById" />
      <xs:element name="findUserByIdEjbClient" type="tns:findUserByIdEjbClient" />
      <xs:element name="findUserByIdEjbClientResponse" type="tns:findUserByIdEjbClientResponse" />
      <xs:element name="findUserByIdResponse" type="tns:findUserByIdResponse" />
      <xs:element name="reseteaDB" type="tns:reseteaDB" />
      <xs:element name="reseteaDBResponse" type="tns:reseteaDBResponse" />
      <xs:complexType name="findUserById">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findUserByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="user">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="categories" nillable="true" type="tns:category" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tasks" nillable="true" type="tns:task" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:userStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="category">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="task">
        <xs:sequence>
          <xs:element minOccurs="0" name="category" type="tns:category" />
          <xs:element minOccurs="0" name="comments" type="xs:string" />
          <xs:element minOccurs="0" name="created" type="xs:dateTime" />
          <xs:element minOccurs="0" name="finished" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="planned" type="xs:dateTime" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="disableUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="disableUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findUserByIdEjbClient">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findUserByIdEjbClientResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ejbClientUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ejbClientUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:userStatus" />
          <xs:element name="tareasCompletadas" type="xs:int" />
          <xs:element name="tareasCompletadasRetrasadas" type="xs:int" />
          <xs:element name="tareasPlanificadas" type="xs:int" />
          <xs:element name="tareasSinPlanificar" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findAllUsersEjbClient">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findAllUsersEjbClientResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ejbClientUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="enableUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="enableUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findAllUsers">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findAllUsersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reseteaDB">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="reseteaDBResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="deepDeleteUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deepDeleteUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:simpleType name="userStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ENABLED" />
          <xs:enumeration value="DISABLED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="BusinessException" type="tns:BusinessException" />
      <xs:complexType name="BusinessException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="findUserByIdEjbClientResponse">
    <wsdl:part name="parameters" element="tns:findUserByIdEjbClientResponse" />
  </wsdl:message>
  <wsdl:message name="BusinessException">
    <wsdl:part name="BusinessException" element="tns:BusinessException" />
  </wsdl:message>
  <wsdl:message name="deepDeleteUser">
    <wsdl:part name="parameters" element="tns:deepDeleteUser" />
  </wsdl:message>
  <wsdl:message name="findUserById">
    <wsdl:part name="parameters" element="tns:findUserById" />
  </wsdl:message>
  <wsdl:message name="findUserByIdResponse">
    <wsdl:part name="parameters" element="tns:findUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="enableUserResponse">
    <wsdl:part name="parameters" element="tns:enableUserResponse" />
  </wsdl:message>
  <wsdl:message name="findAllUsers">
    <wsdl:part name="parameters" element="tns:findAllUsers" />
  </wsdl:message>
  <wsdl:message name="findAllUsersEjbClient">
    <wsdl:part name="parameters" element="tns:findAllUsersEjbClient" />
  </wsdl:message>
  <wsdl:message name="reseteaDBResponse">
    <wsdl:part name="parameters" element="tns:reseteaDBResponse" />
  </wsdl:message>
  <wsdl:message name="disableUser">
    <wsdl:part name="parameters" element="tns:disableUser" />
  </wsdl:message>
  <wsdl:message name="reseteaDB">
    <wsdl:part name="parameters" element="tns:reseteaDB" />
  </wsdl:message>
  <wsdl:message name="findUserByIdEjbClient">
    <wsdl:part name="parameters" element="tns:findUserByIdEjbClient" />
  </wsdl:message>
  <wsdl:message name="enableUser">
    <wsdl:part name="parameters" element="tns:enableUser" />
  </wsdl:message>
  <wsdl:message name="findAllUsersResponse">
    <wsdl:part name="parameters" element="tns:findAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="disableUserResponse">
    <wsdl:part name="parameters" element="tns:disableUserResponse" />
  </wsdl:message>
  <wsdl:message name="deepDeleteUserResponse">
    <wsdl:part name="parameters" element="tns:deepDeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="findAllUsersEjbClientResponse">
    <wsdl:part name="parameters" element="tns:findAllUsersEjbClientResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminService">
    <wsdl:operation name="findUserById">
      <wsdl:input name="findUserById" message="tns:findUserById" />
      <wsdl:output name="findUserByIdResponse" message="tns:findUserByIdResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="disableUser">
      <wsdl:input name="disableUser" message="tns:disableUser" />
      <wsdl:output name="disableUserResponse" message="tns:disableUserResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="findUserByIdEjbClient">
      <wsdl:input name="findUserByIdEjbClient" message="tns:findUserByIdEjbClient" />
      <wsdl:output name="findUserByIdEjbClientResponse" message="tns:findUserByIdEjbClientResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="findAllUsersEjbClient">
      <wsdl:input name="findAllUsersEjbClient" message="tns:findAllUsersEjbClient" />
      <wsdl:output name="findAllUsersEjbClientResponse" message="tns:findAllUsersEjbClientResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="enableUser">
      <wsdl:input name="enableUser" message="tns:enableUser" />
      <wsdl:output name="enableUserResponse" message="tns:enableUserResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="findAllUsers">
      <wsdl:input name="findAllUsers" message="tns:findAllUsers" />
      <wsdl:output name="findAllUsersResponse" message="tns:findAllUsersResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="reseteaDB">
      <wsdl:input name="reseteaDB" message="tns:reseteaDB" />
      <wsdl:output name="reseteaDBResponse" message="tns:reseteaDBResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="deepDeleteUser">
      <wsdl:input name="deepDeleteUser" message="tns:deepDeleteUser" />
      <wsdl:output name="deepDeleteUserResponse" message="tns:deepDeleteUserResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EjbAdminServiceServiceSoapBinding" type="tns:AdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="disableUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="disableUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="disableUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findUserById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findUserById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findUserByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllUsersEjbClient">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findAllUsersEjbClient">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllUsersEjbClientResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findUserByIdEjbClient">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findUserByIdEjbClient">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findUserByIdEjbClientResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enableUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="enableUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="enableUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findAllUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deepDeleteUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deepDeleteUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deepDeleteUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reseteaDB">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="reseteaDB">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="reseteaDBResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EjbAdminServiceService">
    <wsdl:port name="AdminServicePort" binding="tns:EjbAdminServiceServiceSoapBinding">
      <soap:address location="http://DESKTOP-K20Q73C:8280/sdi3-14.EJB/AdminService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>